p {
	margin-top: 3px;
}

h1 {
	background-color: blue;
	color: black;
	text-align: center;
	font-family: arial;
	font-size: 25px;
	font-weight: bold;
}

body {
	background-color: lightblue;
	color: white;
	text-align: center;
	font-family: arial;
	font-size: 25px;
	font-weight: bold;
}

.logo {
	background-color: transparent;
	height: 200px;
	width: 200px;
	position: fixed;
	top: 25px;
	left: 0px;
}

.tabela {
	background-color: lightblue;
	height: 825px;
	width: 1200px;
	position: fixed;
	bottom: 0px;
	left: 400px;
	color: black;
	overflow-y: scroll;
	overflow-x: none;	
}

#itens {
	width: 200;
	height: 200px;
	font-size: small;
	font-family: arial;
	background-color: transparent;
	border-radius: 10px;
	color: black;
	box-shadow: 0 0 15px black;
}

#itens:hover {
	background-color:transparent;
	border-radius: 10px;
	color: white;
	box-shadow: 0 0 30px black;
}